<!DOCTYPE html>
<html>
<head>
  <title>Campfire</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<img src="<%= asset_path('grain.jpg') %>" class="grain">
<div class="header">
	<img src="<%= asset_path('Campfire_Logo_1a.svg') %>" alt="Campfire Cookery" class="logo">
	<div class="navlinks">
		<a href="/">Home</a>
		<span><a href="/">About</a></span>
	</div>
</div>

<%= yield %>

</body>
</html>
