<!DOCTYPE html>
<html>
<head>
  <title>Campfire Kitchen</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
</head>
<body>
<img src="<%= asset_path('grain.jpg') %>" class="grain">
<div class="header">
	<img src="<%= asset_path('Campfire_Logo_4a.svg') %>" alt="Campfire Cookery" class="logo">
	<div class="navlinks">
		<a id="home">Top</a>
		<span><a id="infobtn">Info</a></span>
		<% if current_user %>
		<br/>
		<a><%= link_to "New", new_recipe_path, class: 'new' %></a>
		<% end %>
		<br/>
		<% if current_user %>
			<p>Logged in as Admin<br/>
			<%= link_to "Log Out", '/logout' %>
			</p>	
		<% else %>
			<p><%= link_to "Admin", new_session_path %></p>			
		<% end %>
	</div>
</div>

<%= yield %>

</body>
</html>
